<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.NewsDBConnectionString" connectionString="Server=tcp:lazynews.database.windows.net,1433;Initial Catalog=NewsDB;Persist Security Info=False;User ID=lazynews;Password=1CalOmE6TKxio2O!k2;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.NewsDBConnectionString1" connectionString="Data Source=tcp:lazynews.database.windows.net;Initial Catalog=NewsDB;Persist Security Info=True;User ID=lazynews"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.NewsDBConnectionString2" connectionString="Data Source=tcp:lazynews.database.windows.net;Initial Catalog=NewsDB;Persist Security Info=True;User ID=lazynews;Password=1CalOmE6TKxio2O!k2"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.NewsDBConnectionString3" connectionString="Data Source=tcp:lazynews.database.windows.net;Initial Catalog=NewsDB;User ID=lazynews;Password=1CalOmE6TKxio2O!k2"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.NewsDBConnectionString4" connectionString="Data Source=lazynews.database.windows.net;Initial Catalog=NewsDB;User ID=lazynews"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.NewsDBConnectionString5" connectionString="Data Source=lazynews.database.windows.net;Initial Catalog=NewsDB;User ID=lazynews;Password=1CalOmE6TKxio2O!k2"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>